/* Corpo da página*/
body {
  font-family: 'Poppins', sans-serif;
  background: #E6E6F0;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;
 
  position: absolute;
  top: 0;
  left: 0;
  /* Posição de sobreposição */
  z-index: -1;

  background: #121214;

}
.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 74px;
}
/* Titulo */
header h1 {
  font-family: 'Archivo', sans-serif;
  
  font-weight: bold;
  
  font-size: 36px;
  line-height: 42px;
  color: white;
}

header p {
  color: #42D3FF;

  font-size: 16px;
  line-height: 26px
}

form {
  background: #FAFAFC;

  margin-top: 42px;
  border-radius: 8px;
  min-height: 300px;
}